.Paper{

    padding: 20px;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.image{

    padding: 5px;
    width: 200px;
    height: 250px;


}

.gridItem:hover{
    transform: scale(1.1);
    transition: 1s;
}
