

.flex{

    display: flex;
    align-items: center;
    padding: 20px;
}


.topicWindow{

    width: 30%;
    height: 300px;
    border-right: 3px solid grey;

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}


.chatWindow{

    width:70%;
    height: 300px;
    padding: 20px;

}


.chatBox{

    width:85%;

}

.button{

    width: 15%;

}

.textinput
{
    display: flex;
    margin-left: 50%;
    width: 70%;
}
